body{
    margin: 0;
    padding: 0;
    
}

header{
    height: 100px;
  
    margin: 0;
}

/*menu*/
.menu{
    float: right;
    margin-top: -50px;
   
}
.menu ul li{
    display: inline;
    padding: 2em;
    font-size: 14px;    
}
.menu ul li a{
    text-decoration: none;
    color: gray;
    font-weight: bold;
}

.menu ul li a:hover{
    color: red;
}

/*Nombre*/
.nombre{
    font-family: 'Pacifico', cursive;    
}
.nombre h3{
    display: flex;
    height: 100px;
    align-items: center; 
    margin-left: 1em; 

}
/*carusel*/
.carrusel{    
    float: right;   
    display: flex;
    margin: 0 4em 0 0;
    

}
/* logo*/
.info{
    display: inline-block;
    width: 45%px;;
    height: 640px;
    position: relative;
    margin: 0 0 0 4em;
    background: #f3f3f3;
}

.info img{
    width: 600px;
    margin-top: 2em;
    
}

.info p{
    font-family: 'Pacifico', cursive; 
    display: flex;    
    margin-left: 5em;
    font-size: 24px;
}



.imagen{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.imagen img{
    width: 400px;
    padding: 0.2em;
    
}

.tendencias{
    font-family: 'Pacifico', cursive; 
    text-align: center;
    width: 100%;   
    font-size: 34px;
   margin-top: 0.2em;
   background: #f3f3f3;
}


h1{
    font-family: 'Pacifico', cursive; 
    text-align: center;
    width: 100%;   
    font-size: 34px;
    margin-top: 1em;
    background: #f3f3f3;
}

.instagram{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.instagram img{
    width: 400px;
    padding: 0.1em;
}

footer{
    width: 100%;
    background:  #f3f3f3;
    height: 200px;
}
.social{    
    display: flex;
    justify-content: center;
    align-items: center;
}
.social i{
    font-size: 40px;
    color: rgb(0, 0, 0);
    padding:  1em;
    transition: all 0.3s;
}

.firma{
    width: 100%;
    text-align: center;
    padding: 1em;
}
